<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <h1>
          Restaurants
        </h1>
      </div>
    </div>
  </div>
</div>

<%= render 'restaurants/slider' %>

<div class="container">
  <%= link_to "Create a Restaurant", new_restaurant_path, class: 'btn btn-success' %>

  <br />
  <br>

  <%= form_tag search_restaurants_path, method: :get do |f| %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= text_field_tag :search, nil, placeholder: 'What are you hungry for?', class: 'form-control' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= text_field_tag :location, nil, placeholder: 'Where do you want to eat?', class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= select_tag :category, options_for_select(Category.all.map { |category| [category.name, category.id] }) %>
    </div>

    <%= submit_tag 'Search', class: 'btn btn-info' %>
  <% end %>
  <br /><br />
</div>
