<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant Rank</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script>
      $(function() {
         $('.alert').delay(500).fadeIn('normal', function() {
            $(this).delay(3500).fadeOut();
         });
      });
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= bootstrap_flash %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
